@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Beemonitor</h1>
    <p class="lead"> A site to capture and display whats happening in your beehive</p>
    <p></p>
</div>

<div class="row">
     some stuff a bit further down
</div>