@using Beemonitor.Models
@Model BeeMonitor.Models.ApiaryFormViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Postcode: @Model.Postcode</li>
</ul>

@if (Model.Beehives == null)
{
    <p> this Apiary has no Beehives set up</p>
}
else
{

    <div >
        <table class="table table-bordered table-hover">
            <tr>
                <th>Beehive Name</th>
            </tr>
            @foreach (Beehive beehive in Model.Beehives)
            {
                <tr>
                    <td>
                        @beehive.BeehiveName
                    </td>
                </tr>
            }
        </table>
    </div>
}
