@using Beemonitor.Models
@model IEnumerable<Beemonitor.Models.Apiary>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Apiaries</h2>

<td>@Html.ActionLink("Create New Apiary", "New", "Apiaries")</td>


@if (!Model.Any())
{
    <p> you have no Apiaries set up</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Apiary</th>
            <th>Postcode</th>
            <th>Click below to Edit</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var apiary in Model)
        {
            <tr>
                <td>@Html.ActionLink(apiary.Name, "Index", "Beehives", new {id = apiary.Id}, null)</td>
                <td>@apiary.Postcode</td>
                <td>@Html.ActionLink("Edit", "Edit", "Apiaries", new { id = apiary.Id }, null)</td>
            </tr>
        }
        </tbody>
    </table>

}


