@model Beemonitor.ViewModels.ApiaryBeehivesViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Apiary.Name  </h2>

@if (Model.Beehive.Count == 0)
{
    <p> APiary has no Beehives</p>
}
else
{
    <ul>
        @foreach (var beehive in Model.Beehive)
        {
        <li>
            <a href="~/Beehive/" + @beehive.Name>  @beehive.Name </a>
        </li>
    }
    </ul>
}
