@using Beemonitor.Models
@Model Beehive
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach(var beehive in Model)
{ 
//    <h2>@Model.name</h2>

    if (Model.Beehive.Sensors == null)
    {
        <p> this Beehive has no sensors set up</p>
    }
    else
    {
        <div>
            <table  class="table table-bordered table-hover">
                @foreach (Sensor sensor in Model.Sensors)
                {
                    <tr>
                        <th>Sensor Name</th>
                        <th>@sensor.SensorName</th>
                    </tr>
                }
            </table>
        </div>
    }
}
