@using Beemonitor.Models
@Model Beehive
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.BeehiveName</h2>

    @if (Model.Beehive.BeehiveSensors == null)
    {
        <p> this Beehive has no sensors set up</p>
    }
    else
    {
        <div>
            <table class="table table-bordered table-hover">
                @foreach (BeehiveSensor sensor in Model.BeehiveSensors)
                {
                    <tr>
                        <th>Sensor Name</th>
                        <th>@sensor.SensorName</th>
                    </tr>
        }
            </table>

        </div>
    }
